# Archivos de Python

*.pyo
*.pyd

*.db
*.sqlite3

# Archivos de entornos virtuales
venv/
env/
.venv/
.env/

# Archivos de dependencias
*.egg-info/
*.eggs/
pip-log.txt
pip-delete-this-directory.txt

# Archivos de configuración del entorno
*.env
*.env.*

# Archivos de caché de Django
*.log
*.pot

*.pyo
*.pyd
db.sqlite3

# Archivos de migraciones

# Archivos generados por IDEs
.idea/
.vscode/
*.swp

# Archivos generados por el sistema operativo
.DS_Store
Thumbs.db

# Archivos de backup
*~
