Django
wagtail
django-unfold
django-browser-reload
django-tailwind
sendgrid
django-import-export
django-cleanup
whitenoise[brotli]
django-guardian
argon2-cffi
psycopg2-binary
dj-database-url
uvicorn[gunicorn]
