Django
wagtail>=6.2,<6.3
django-unfold
django-browser-reload
django-tailwind
sendgrid
django-import-export
django-cleanup
whitenoise[brotli]
django-guardian
argon2-cffi
psycopg2-binary
dj-database-url
gunicorn
django-money
django-simple-history
django-celery-beat
