{% load static wagtailcore_tags %}
{% load tailwind_tags %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <title>
        {% block title %} Aula Incuval {% endblock %}
        {% block title_suffix %}
        {% wagtail_site as current_site %}
        {% if current_site and current_site.site_name %}- {{ current_site.site_name }}{% endif %}
        {% endblock %}
    </title>
    {% tailwind_css %}
    <meta name="description" content="{{ page.search_description }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" sizes="16x16" href="{% static 'aula/img/icon.svg' %}">
    {% block extra_css %}
    <link rel="stylesheet" href="{% static 'aula/css/loader.css' %}">
    {% include "components/head.html" %}
    {% endblock %}
    <script src="{% static 'aula/js/loader.js' %}"></script>
</head>
<body class="min-h-screen flex flex-col">

    <!-- Loader Overlay -->
    <div id="loader" class="fixed inset-0 z-50 flex items-center justify-center bg-white">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36 36" class="w-16 h-16 text-navy-blue">
            <!-- Contenido de tu SVG aquí -->
            <g>
                <rect class="box5532" x="13" y="1" rx="1" width="10" height="10" />
                <rect class="box5532" x="25" y="25" rx="1" width="10" height="10" />
                <rect class="box5532" x="13" y="13" rx="1" width="10" height="10" />
                <rect class="box5532" x="25" y="13" rx="1" width="10" height="10" />
                <rect class="box5532" x="1" y="25" rx="1" width="10" height="10" />
                <rect class="box5532" x="13" y="25" rx="1" width="10" height="10" />
                <rect class="box5532" x="25" y="25" rx="1" width="10" height="10" />
            </g>
        </svg>
    </div>

    {% block spacing %}
    <div class="mt-1 h-16 md:h-20"></div>
    {% endblock %}
    
    {% block header %}
    {% include "includes/header.html" %}
    {% endblock %}

    <!-- Main Content -->
    <main id="main" class="flex-grow">
        {% block content %}{% endblock %}
    </main>

    <!-- Footer -->
    {% block footer %}
    {% include "components/footer.html" %}
    {% endblock %}
    
    {% block extra_js %}
    {% include "components/scripts.html" %}
    {% endblock %}
</body>
</html>
