{% extends "base.html" %}
{% block header %}{% endblock %}
{% block spacing %}{% endblock %}
{% block footer %}{% endblock %}
{% block content %}
<div class="h-screen bg-navy-blue flex items-center justify-center">
  <div class="bg-green p-6 rounded-lg shadow-lg text-center m-20">
    <p class="bg-gray-200 p-4 rounded-md">Te hemos enviado un correo electrónico con instrucciones para restablecer tu contraseña. Por favor, revisa tu bandeja de entrada y la carpeta de spam si no lo encuentras.</p>
</div>
</div>
{% endblock %}
