{% extends "base.html" %}
{% block header %}{% endblock %}
{% block spacing %}{% endblock %}
{% block footer %}{% endblock %}
{% block content %}
<div class="h-screen bg-white flex items-center justify-center">
  <div class="bg-green p-8 rounded-lg shadow-lg text-center">
    <h2 class="text-3xl font-bold mb-4">¡Contraseña restablecida exitosamente!</h2>
    <p class="text-lg"><a href="{% url 'login' %}" class="text-navy-blue hover:underline">Iniciar sesión</a></p>
  </div>
</div>
{% endblock %}
