{% extends "base.html"%}
{% block header %}{% endblock %}
{% block spacing %}{% endblock %}
{% block footer %}{% endblock %}
{% block content %}
    <div class="h-screen bg-navy-blue flex items-center justify-center">
      <div class="bg-white shadow-md rounded-lg overflow-hidden w-auto m-20">
        <div class="p-6">
          <h2 class="text-2xl font-semibold text-center text-gray-800">Recuperar contraseña</h2>
          <p class="mt-2 text-center text-gray-600">
            Ingresa tu correo electrónico y te enviaremos las instrucciones para restablecer tu contraseña.
          </p>
          <form action="{% url 'password-reset' %}" method="post" class="mt-6">
            {% csrf_token %}
            {% if form.email.errors %}
            <div class="error">{{ form.email.errors }}</div>
            {% endif %}
            <div class="mb-4">
              <label for="email" class="block text-sm font-medium text-gray-700">Correo electrónico</label>
              <input
                type="email"
                id="email"
                name="email"
                placeholder="tu@ejemplo.com"
                required
                class="mt-1 w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-navy-blue"
              />
            </div>
            <button
              type="submit"
              class="w-full px-4 py-2 bg-blue-600 text-white rounded-md hover:bg-navy-blue transition duration-300"
            >
              Enviar instrucciones
            </button>
          </form>
        </div>
      </div>
    </div>

{% endblock %}
