{% extends "base.html" %}
{% block header %}{% endblock %}
{% block spacing %}{% endblock %}
{% block footer %}{% endblock %}
{% block content %}
    {% if validlink %}
    <div class="h-screen bg-navy-blue flex items-center justify-center">
        <div class="bg-white p-8 rounded-lg shadow-lg w-full max-w-sm mx-auto mt-10">
            <h2 class="text-2xl font-semibold mb-6 text-center">Ingresa tu nueva contraseña</h2>
            <form action="" method="post">
                {% csrf_token %}
                <div class="mb-4">
                    <label for="id_new_password1" class="block text-gray-700">Nueva contraseña:</label>
                    <input
                        type="password"
                        id="id_new_password1"
                        name="new_password1"
                        placeholder="Nueva contraseña"
                        required
                        class="mt-1 block w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-navy-blue"
                    />
                    <button
                    type="button"
                    id="togglePassword1"
                    class="absolute inset-y-0 right-0 pr-3 flex items-center text-sm leading-5"
                    style="background: none; border: none; cursor: pointer;"
                    >
                        <i class="fa-light fa-eye-slash" id="toggleIcon1"></i>
                    </button>
                </div>
                <div class="mb-6">
                    <label for="id_new_password2" class="block text-gray-700">Confirmar contraseña:</label>
                    <input
                        type="password"
                        id="id_new_password2"
                        name="new_password2"
                        placeholder="Confirmar contraseña"
                        required
                        class="mt-1 block w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-navy-blue"
                    />
                    <button
                        type="button"
                        id="togglePassword2"
                        class="absolute inset-y-0 right-0 pr-3 flex items-center text-sm leading-5"
                        style="background: none; border: none; cursor: pointer;"
                        >
                        <i class="fa-light fa-eye-slash" id="toggleIcon2"></i>
                    </button>
                </div>
                <button
                    type="submit"
                    class="w-full bg-blue-500 text-white py-2 px-4 rounded-md hover:bg-navy-blue focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-opacity-50"
                >
                    Cambia mi contraseña
                </button>
            </form>
        </div>
    </div>
    {% else %}
        <div class="bg-white p-8 rounded-lg shadow-lg w-full max-w-sm mx-auto mt-10">
            <h1 class="text-2xl font-semibold mb-6 text-center">Error al restablecer la contraseña</h1>
            <p class="text-center">El enlace para restablecer la contraseña no es válido. Solicita un nuevo restablecimiento de contraseña.</p>
        </div>
    {% endif %}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        // Funcionalidad de alternar visibilidad de contraseñas
        const togglePassword1 = document.querySelector('#togglePassword1');
        const password1 = document.querySelector('#id_new_password1');
        const toggleIcon1 = document.querySelector('#toggleIcon1');
    
        if (togglePassword1 && password1 && toggleIcon1) {
            togglePassword1.addEventListener('click', function() {
                const type = password1.getAttribute('type') === 'password' ? 'text' : 'password';
                password1.setAttribute('type', type);
                
                toggleIcon1.className = type === 'password' ? 'fa-light fa-eye-slash' : 'fa-sharp fa-light fa-eye';
            });
        }
        const togglePassword2 = document.querySelector('#togglePassword2');
        const password2 = document.querySelector('#id_new_password2');
        const toggleIcon2 = document.querySelector('#toggleIcon2');
    
        if (togglePassword2 && password2 && toggleIcon2) {
            togglePassword2.addEventListener('click', function() {
                const type = password2.getAttribute('type') === 'password' ? 'text' : 'password';
                password2.setAttribute('type', type);
                
                toggleIcon2.className = type === 'password' ? 'fa-light fa-eye-slash' : 'fa-sharp fa-light fa-eye';
            });
        }
        });
</script>
{% endblock %}