{% load static %}


{% block content %}
<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
    {% for mentor in mentores %}
    <div class="bg-white rounded-lg shadow-md overflow-hidden">
        <div class="flex flex-col items-center p-6">
            <div class="w-24 h-24 rounded-full bg-gray-300 mb-4 overflow-hidden">
                {% if mentor.user.foto_perfil %}
                    <img src="{{ mentor.user.foto_perfil.url }}?height=100&width=100" alt="{{ mentor.user.username }}" class="w-full h-full object-cover">
                {% else %}
                    <img src="{% static 'aula/img/default-profile.png' %}?height=100&width=100" alt="Default Profile Photo" class="w-full h-full object-cover">
                {% endif %}
            </div>
            <h3 class="text-xl font-semibold mb-2">{{ mentor.user.username }}</h3>
            <p class="text-sm text-gray-500">Especialidad: {{ mentor.especialidad|default:"Sin especialidad" }}</p>
            {% if user.is_authenticated and user.emprendedor_profile.startup and user.emprendedor_profile.cargo == 'Founder' %}
                {% if mentor.tiene_mentoria_pendiente %}
                    <button class="cancelar-mentoria btn btn-primary mt-4 hover:underline" 
                            data-mentoria-id="{{ mentor.mentoria_pendiente_id }}">
                        Cancelar Mentoría
                    </button>
                {% else %}
                    <a href="{% url 'solicitar-mentoria' mentor.id %}" 
                    class="btn btn-primary mt-4 hover:underline">
                        Solicitar Mentoría
                    </a>
                {% endif %}
            {% endif %}
        </div>
    </div>
    {% empty %}
    <div class="bg-white rounded-lg shadow-md overflow-hidden w-full col-span-1 md:col-span-2 lg:col-span-3">
        <div class="flex flex-col items-center p-6 w-full">
            <div class="w-24 h-24 rounded-full bg-gray-300 mb-4 overflow-hidden">
                <img src="{% static 'aula/img/sad-face.png' %}?height=100&width=100" class="w-full h-full object-cover">
            </div>
            {% if search_query %}
                <h3 class="text-xl font-semibold mb-2 text-center">No se encontró el mentor o speaker "{{ search_query }}"</h3>
            {% else %}
                <h3 class="text-xl font-semibold mb-2 text-center">No hay mentores y speakers registrados.</h3>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>

<!-- Controles de paginación -->
<div class="mt-4">
    {% if mentores.has_other_pages %}
        <div class="flex justify-center">
            {% if mentores.has_previous %}
                <button class="pagination-btn px-3 py-1 mx-1 bg-gray-200 rounded" data-page="{{ mentores.previous_page_number }}">Anterior</button>
            {% endif %}
            {% for num in mentores.paginator.page_range %}
                {% if mentores.number == num %}
                    <span class="px-3 py-1 mx-1 bg-blue-500 text-white rounded">{{ num }}</span>
                {% else %}
                    <button class="pagination-btn px-3 py-1 mx-1 bg-gray-200 rounded" data-page="{{ num }}">{{ num }}</button>
                {% endif %}
            {% endfor %}
            {% if mentores.has_next %}
                <button class="pagination-btn px-3 py-1 mx-1 bg-gray-200 rounded" data-page="{{ mentores.next_page_number }}">Siguiente</button>
            {% endif %}
        </div>
    {% endif %}
</div>
{% endblock %}